body{
  font-family: 'Raleway', sans-serif;
}

.container-fluid{
  padding: 10px 100px 70px;
}

.light-text{
  color: #A0A0A0;
}

/* ------------Nav Bar------------- */
.navbar-brand{
  font-size: 1.7rem;
}

.nav-link{
  padding: 0 15px;
  font-size: 1.2rem;
}

.navbar-nav {
  text-align: center;
}

/* ------------Title------------- */
.title-button{
  margin: 15px 0 0 500px;
}

.title-headline{
  margin-top: 120px;
}

#title{
  margin-bottom: 120px;
}
/* ------------Details------------- */
.image-in-tile{
  height: 200px;
  max-width: 100%;
}

.image-tile{
  margin: 10px 0;
}

.thumbnail{
  border: solid 1px;
  border-color: #A0A0A0;
  padding: 5px;
  text-align: center;
}

.caption{
  margin: 20px 5px;
}

#details .light-text{
  font-size: 1.2rem;
}

/* ------------Section Footer------------- */
#footer{
  text-align: center;
  background-color: #8A3FFC;
}

.footer-link{
  color: #fff;
  margin: 15px;
}

.footer-description{
  margin: 15px;
}

#footer .container-fluid{
  padding: 15px;
}

/* -----------Media Queries------------- */

@media (max-width: 990px) {

.container-fluid{
  padding: 10px 10px 30px;
}

body{
  text-align: center;
}

html{
  font-size: 24px;
}

.nav-item a{
  font-size: 1.5rem;
  margin: 10px;
}

.navbar-toggler-icon{
  font-size: 1rem;
}

.title-button{
  display: none;
}

ul{
  text-align: justify;
}

}
