.top-container{
  background-color: #77acf1;
  padding: 80px 0 0 0;
  position: relative;
}

.middle-container{
  background-color: #ffffff;
  padding: 10px;
}

.bottom-container{
  background-color: #00adb5;
  padding: 10px;
}

body{
  margin : 0;
  text-align: center;
}

.profile-img{
  padding-top: 30px;
}

.top-cloud{
  position: absolute;
  left: 900px;
  top : 50px;
}

.bottom-cloud{
  position: absolute;
  left: 200px;
  margin: 0 auto;
}

.skill-row{
  width: 50%;
  margin: 100px auto;
  line-height: 2;
}

.code-img{
  width: 25%;
  float: left;
  margin-right: 30px;
}

.web-img{
  width: 25%;
  float: right;
  margin-left: 30px;
}

h1{
  font-family: 'Sacramento', cursive;
  font-size: 6rem;
  margin: 0;
  color: #ffdf6b;
}

h2{
  font-family: 'Pangolin', cursive;
  font-size: 2.5rem;
}

h3{
  color: #11999E;
  font-family: 'Itim', cursive;
  font-size: 1.5rem;
}

a{
  color: #11999E;
}

hr{
  border-style: none;
  border-top-style: dotted;
  width: 15%;
  margin: 50px auto;
  border-width: 10px;
  border-color: grey;
}

p{
  font-family: 'Itim', cursive;
  font-size: 1.5rem;
}

.skill-description{
  text-align: justify;
}

.linkedin-button {
   background: #3D94F6;
   background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -webkit-gradient(to bottom, #3D94F6, #1E62D0);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #FFFFFF;
   font-family: Georgia;
   font-size: 18px;
   font-weight: 200;
   padding: 8px;
   text-shadow: 1px 1px 20px #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.linkedin-button:hover {
   border: solid #337FED 1px;
   background: #1E62D0;
   background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
